v2.4.0/plugins/com.vitesco.farm.editor_2.3.0/APP-INF/resources/tableview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="Cell">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="width" type="xs:double" use="required"/>
				<xs:attribute name="height" type="xs:double" use="optional"/>
				<xs:attribute name="foreground" type="xs:string" use="optional"/>
				<xs:attribute name="background" type="xs:string" use="optional"/>
				<xs:attribute name="border-left" type="xs:string" use="optional"/>
				<xs:attribute name="border" type="xs:string" use="optional"/>
				<xs:attribute name="gradient" type="xs:string" use="optional"/>
				<xs:attribute name="hatching" type="xs:string" use="optional"/>
				<xs:attribute name="image" type="xs:string" use="optional"/>
				<xs:attribute name="text-orientation" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="default"/>
							<xs:enumeration value="vertical"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="text-anchor" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="start"/>
							<xs:enumeration value="middle"/>
							<xs:enumeration value="end"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TableContent">
		<xs:sequence>
			<xs:element name="tr" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="td" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="cell" type="Cell" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Table">
		<xs:sequence>
			<xs:element name="columnHeader" type="TableContent"/>
			<xs:element name="rowHeader" type="TableContent"/>
			<xs:element name="body" type="TableContent"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="p">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="width" type="xs:double" use="optional"/>
				<xs:attribute name="height" type="xs:double" use="optional"/>
				<xs:attribute name="foreground" type="xs:string" use="optional"/>
				<xs:attribute name="background" type="xs:string" use="optional"/>
				<xs:attribute name="border" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Info">
		<xs:sequence>
			<xs:element name="p" type="p" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Caption">
		<xs:sequence>
			<xs:element name="p" type="p" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="tableview">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="caption" type="Caption"/>
				<xs:element name="info" type="Info"/>
				<xs:element name="table" type="Table" minOccurs="0" maxOccurs="3"/>
			</xs:sequence>
			<xs:attribute name="columns" type="xs:int" use="required"/>
			<xs:attribute name="rows" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
