v2.4.0/plugins/com.vitesco.farm.editor_2.3.0/APP-INF/app-ui.dtd

<!ELEMENT application-ui (title, editor-mode?, single-launch-on-port?, look-and-feel-class-name?, actions?, menus?, toolbar?)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT editor-mode (#PCDATA)>
<!ELEMENT single-launch-on-port (#PCDATA)>
<!ELEMENT look-and-feel-class-name (#PCDATA)>

<!ELEMENT actions (action*)>
<!ELEMENT action (action-command, command-class, name?, short-description?, long-description?, small-icon?, accelerator?, mnemonic?)>
<!ATTLIST action enabled (true | false) "true">
<!ELEMENT action-command    (#PCDATA)>
<!ELEMENT command-class     (#PCDATA)>
<!ELEMENT name              (#PCDATA)>
<!ELEMENT short-description (#PCDATA)>
<!ELEMENT long-description  (#PCDATA)>
<!ELEMENT small-icon        (#PCDATA)>
<!ELEMENT accelerator       (#PCDATA)>
<!ELEMENT mnemonic          (#PCDATA)>
<!ATTLIST name              istring CDATA #IMPLIED  layout-variable CDATA #IMPLIED>
<!ATTLIST short-description istring CDATA #IMPLIED  layout-variable CDATA #IMPLIED>
<!ATTLIST long-description  istring CDATA #IMPLIED  layout-variable CDATA #IMPLIED>
<!ATTLIST small-icon        istring CDATA #IMPLIED  layout-variable CDATA #IMPLIED>
<!ATTLIST accelerator       istring CDATA #IMPLIED  layout-variable CDATA #IMPLIED>
<!ATTLIST mnemonic          istring CDATA #IMPLIED  layout-variable CDATA #IMPLIED>
	
<!ELEMENT menus (menu*)>
<!ELEMENT menu ((menu|menu-separator)*)>
<!ATTLIST menu	title              CDATA #IMPLIED
				istring            CDATA #IMPLIED
				action-command-ref CDATA #IMPLIED>
				
<!ELEMENT menu-separator EMPTY>

<!ELEMENT toolbar ((button|button-separator)*)>
<!ELEMENT button EMPTY>
<!ATTLIST button action-command-ref CDATA #REQUIRED>
<!ELEMENT button-separator EMPTY>